#diceRoll {
  width : 200px;
}

#player1Output{
  /* display: none; */
}

#player2Output{
  /* display: none; */
}

body{
  background-color: #f4bf42;
  align-items:
}

h1{
  text-align: center;
}

.container{
  align-content: center;
}

.jumbotron{
  background-color: black;
  color: white;
  margin-bottom: 15%;
}
